/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}
:host{
	display: block;
	min-height: 100px;

	width: 50%;
	background-color: #3bbec0;
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	border-radius: 0.125rem;
	box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
	min-width: 348px !important;
	
}
polyfill-next-selector { content: ':host > div > span'; }
::content div > span {
	color: white;
}
#header > h1{
	display: inline-block;
}
#icon:before{
	font-size: 60px;
	margin-left: 0;
}
#icon{
}
h1{
	color: white;
}
/*.icon-weather{
	float: left;
	width: 76px;
	height: 57px;
	background: url(../images/weather-main.png) no-repeat;
	margin-top: 10px;
}
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  /*border: 1px solid #ccc; */
  text-align: left; 
}